@charset "utf-8";
/* CSS Document */

body{ margin:0;  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
#madre{width:1000px; margin:0 auto;}


#box01{  font-size:16px; width:550px; display:block; float:left; color:#5f5f5f; font-weight:normal;}

#box01 p{ padding-top:0; margin-top:0}

	.demobox03{
		float:left;
		margin:0;
		width:300px;
		height:400px;
		border:0px solid #555;
		overflow:hidden;
		background-color:none!important;

	}
	.details03{
		width:300px;
		height:100px;
		background-color:none!important;
		color:#fff;
		text-align:left;
		margin:20px ;
		padding:20px;
	}
	#corpo_box01a{position:relative;}
	#corpo_box01a .details03{
		opacity: .8;
		position:absolute;
		top:210px;
		left:-0px;
		margin-left:-400px;		
		-webkit-transition: margin-left;
		-webkit-transition-timing-function: ease-in;
		-webkit-transition-duration: 250ms;

		-moz-transition: margin-left;
		-moz-transition-timing-function: ease-in;
		-moz-transition-duration: 250ms;


		-o-transition: margin-left;
		-o-transition-timing-function: ease-in;
		-o-transition-duration: 250ms;


		-ms-transition: margin-left;
		-ms-transition-timing-function: ease-in;
		-ms-transition-duration: 250ms;



	}
	#corpo_box01a:hover .details03{
		margin-left:0;
	}
				
	.details03 h3{margin:0; padding:0; font-size:22pt;}			
	.details03 p{margin:0; padding:0; font-size:10px;}
	
	
	/* Pretty printing styles. Used with prettify.js. */
.str { color: #080; }
.kwd { color: #4a4cef; }
.com { color: #ccc; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #5db0e6; }
.pln { color: #999; }
.tag { color: #5db0e6; }
.atn { color: #9f008d; }
.atv { color: #080; }
.dec { color: #606; }
pre.prettyprint {font-family:Monaco,DejaVu Sans,Courrier New,Sans-serif;font-size:10pt;}

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}







#container{overflow:hidden;margin:0;width:300px; height:400px;}
div.box-primary{display:inline;float:left;width:300px;}
div.box-secondary{display:inline;float:right;padding-left:0;width:300px;}
div.box-inner{overflow:hidden;padding-bottom:15px;border-bottom:0px solid #2f2f2f;zoom:0;} 
#container .js{overflow:hidden;zoom:1;}
#container .carousel,
#container .carousel .carousel-wrap{margin:0;border:0;zoom:1;}
#container .js .carousel-wrap{display:inline-block;vertical-align:middle;width:300px;margin:0;border:0px solid #4f4f4f;background:none!important;}
.IE #container .js .carousel-wrap{display:inline;}
#container .carousel ul{margin:0;padding:0;zoom:1;}
#container .js ul li{overflow:hidden;display:inline;float:left;width:300px;height:40px;text-align:center;zoom:1;}
#container .carousel .carousel-control{overflow:hidden;display:inline-block;vertical-align:middle;width:40px;height:400px;cursor:pointer;line-height:999px;zoom:1;border:0px;text-indent:-9999px; background:none!important; }
#container .carousel .carousel-next{background:none 0 0 no-repeat; width:0; height:0; margin:-3px; }
#container .carousel .carousel-previous{background:none 0 0 no-repeat; width:0; height:0; margin:-3px;}
#container .carousel .carousel-control:hover{-moz-opacity:.7;opacity:0.70;filter:alpha(opacity=70);}
#container .carousel .disabled,#container .carousel .disabled:hover{-moz-opacity:.1;opacity:0.10;filter:alpha(opacity=10);cursor:default;}
#container .carousel div{margin:0;padding:0;border:0;}
#container .carousel ul{padding:0;list-style:none;}
#container .carousel ul li{position:relative;width:300px;margin:0; height:533px}
#container .carousel ul li cite{position:absolute;bottom:3px;right:10px;line-height:19px;font-size:11px;}
#container .carousel ul li cite a img{vertical-align:middle;}
#container .carousel ul li cite a{color:#fff;text-decoration:none;}
#container div.center-wrap{overflow:hidden;clear:both;zoom:1;}
#container div.center-wrap div{border:0;margin:0;}
#container div.center-wrap a{margin:0;padding:0;border:0px solid #4f4f4f;background:none!important;cursor:pointer;color:#fff;-moz-border-radius:0px;webkit-border-radius:0;border-radius:0px;}
#container div.center-wrap a.active{font-weight:bold;color:#5db0e6;}
#examples{margin-top:0;border:0;}
#examples ul{overflow:hidden;padding:0;zoom:1;}
#examples ul li{display:inline;float:left;margin:0 0px 0 0;list-style:none;}
#examples ul li a{display:block;padding:0;text-decoration:none;background:#333;}
#examples ul li a.active{color:#fff;}
#examples p{margin:0 ;}
#examples .tabs-frames{border:0px solid #333;padding:10px;}
#examples .js ul{overflow:hidden;zoom:1;}
#examples .js ul li{overflow:hidden;width:300px;height:400px;}
#examples .js .carousel-wrap{width:300px;margin-bottom:0;zoom:1;}
#examples .example-4 .carousel-wrap{width:300px;margin-bottom:0;zoom:1;}
#examples h3{color:#5DB0E6;}
